/* ----------CSS RESET---------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

/* ----------CUSTOM CSS---------- */

body {
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
    font-family: 'Inter', sans-serif;
    height: 100vh;
    overflow: hidden;
}

/* ----------NAVBAR---------- */

.navbar {
    grid-column: 1/6;
    grid-row: 1;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 65px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 25px;
}

.nav-menu img {
    height: 30px;
    width: auto;
}

.nav-menu a {
    text-decoration: none;
    cursor: pointer;
    color: #018aec;
}

.nav-location {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-right img {
    height: 35px;
    width: auto;
}

.navbar button:not(.light-dark) {
    background: none;
    border: none;
    cursor: pointer;
}

.navbar input {
    padding: 8px 40px 8px 40px;
    border-radius: 8px;
    border: 2px solid #ccc;
    font-size: 16px;
    width: 150px;
    background-image: url("search.png"), url("world-search.gif");
    background-repeat: no-repeat, no-repeat;
    background-position: 12px center, right 12px center;
    background-size: 16px, 25px;
}

.navbar input:focus {
    outline: none;
    border: 2px solid #202932;
}

.navbar input::placeholder {
    color: #888;
    font-weight: 500;
}

.navbar button.light-dark {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #202932;
    border: none;
    border-radius: 8px;
    padding: 10px 14px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.light-dark img {
    height: 18px;
    width: auto;
}

/* ----------CONTAINERS---------- */

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto repeat(5, 1fr);
    gap: 30px;
    height: calc(100vh - 120px);
    padding: 0 30px 30px;
    box-sizing: border-box;
}

.navbar, .current-weather, .air-quality, .wind,
.humidity, .visibility, .pressure-in, .pressure,
.sun-moon, .days {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
}

.current-weather {
    grid-column: 1/4;
    grid-row: 2/4;
}

.air-quality {
    grid-column: 1;
    grid-row: 4;
}

.wind {
    grid-column: 2;
    grid-row: 4;
}

.humidity {
    grid-column: 3;
    grid-row: 4;
}

.visibility {
    grid-column: 1;
    grid-row: 5;
}

.pressure-in {
    grid-column: 2;
    grid-row: 5;
}

.pressure {
    grid-column: 3;
    grid-row: 5;
}

.sun-moon {
    grid-column: 1/4;
    grid-row: 6/7;
}

.days {
    grid-column: 4/6;
    grid-row: 2/7;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

/* ----------CURRENT WEATHER DATA---------- */

.current-weather .weather-main-row {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 10px 0 10px 0;
}

.weather-temp {
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.weather-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 160px;
    text-align: left;
    margin-left: 10px;
}

.current-weather p strong {
    font-size: 19px;
}

.current-weather p {
    margin-bottom: 8px;
}

.current-weather .weather-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.current-weather .weather-header select {
    cursor: pointer;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.current-weather .weather-header select:focus {
    outline: none;
    border: 2px solid #202932;
}

/* ----------ICONS---------- */

img {
    height: 25px;
    width: auto;
}

.sun {
    height: 50px;
    width: auto;
}

/* ----------6 SMALL DATA BOXES---------- */

.air-quality, .wind, .humidity, .visibility,
.pressure-in, .pressure {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.text-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.data {
    font-size: 30px;
    font-weight: bold;
}

/* ----------SUN & MOON SUMMARY---------- */
.sun-moon {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.sun-moon p {
    margin: 0 0 15px 0;
}

.set-rise {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.set-rise span {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 5px;
}

.sun-air {
    display: flex;
    align-items: center;
    gap: 15px;
}

.air-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.air-column strong {
    font-size: 20px;
}

/* ----------DAYS FORECAST---------- */
#days-content {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
}

#days-content::-webkit-scrollbar {
    width: 6px;
}

#days-content::-webkit-scrollbar-thumb {
    background-color: #b7b7b799;
    border-radius: 3px;
}

#days-content::-webkit-scrollbar-thumb:hover {
    background-color: #93939399;
}

#days-content::-webkit-scrollbar-track {
    background: transparent;
}

.forecast-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;
    border-bottom: 1px solid #ccc;
}

.forecast-time {
    flex: 1;
    text-align: left;
    padding-right: 20px;
}

.forecast-temp {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding-left: 20px;
}

.forecast-temp .temp {
    font-size: 1.8rem;
    font-weight: bold;
    color: #222;
    min-width: 70px;
    text-align: right;
}

.forecast-temp .details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 0.9rem;
    color: #555;
    text-align: right;
}

.forecast-row::after {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 50%;
    width: 2px;
    background-color: #202932;
    transform: translateX(-50%);
}

.forecast-row::after {
    content: "";
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 50%;
    width: 2px;
    background-color: #202932;
    transform: translateX(-50%);
}

.days-buttons {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.days button {
    background: none;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    font-weight: normal;
    margin-right: 30px;
}

.days button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: #202932;
}

.days button.active {
    font-weight: bold;
}

.days button.active::after {
    width: 100%;
}

/* ----------LIGHT/DARK MODE---------- */

body.dark-mode {
    background-color: #202f3d;
    color: white;
}

body.light-mode .current-weather, body.light-mode .air-quality, body.light-mode .wind,
body.light-mode .humidity, body.light-mode .visibility, body.light-mode .pressure-in,
body.light-mode .pressure, body.light-mode .sun-moon, body.light-mode .days {
    background-color: white;
    color: black;
}

body.dark-mode .current-weather, body.dark-mode .air-quality, body.dark-mode .wind,
body.dark-mode .humidity, body.dark-mode .visibility, body.dark-mode .pressure-in,
body.dark-mode .pressure, body.dark-mode .sun-moon, body.dark-mode .days, .dark-mode .navbar {
    background-color: #4e5b69;
    color: white;
}
.nav-center button.light-dark:hover {
    background-color: #1b262c;
}

body.dark-mode .days button {
    color: white;
    border-color: #555;
}

body.dark-mode .days button.active::after {
    background-color: white;
}

body.dark-mode .nav-menu p,
body.dark-mode .nav-location p {
    color: white;
}

body.dark-mode .nav-search-mode input {
    background-color: #1f2933;
    color: white;
    border: 1px solid #9d9d9d;
}

body.dark-mode .current-weather select {
    background-color: #344251;
    color: white;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    padding: 6px 10px;
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
}

body.dark-mode .current-weather select option {
    background-color: #1f2933;
    color: white;
}

body.dark-mode .forecast-temp .temp {
    color: white;
}

body.dark-mode .forecast-temp .details {
    color: #ddd;
}

body.dark-mode .weather-temp, body.dark-mode .feels-like, body.dark-mode .wind-speed {
    color: white;
}

body.dark-mode .data {
    color: white;
}

body.dark-mode .forecast-row::after {
    background-color: white;
}

/* ----------INTERACTIVE DESIGN (APP)---------- */

/* mobile */
@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(10, 1fr);
        height: 100vh;
        width: 100vw;
    }

    .navbar {
        grid-column: 1/3;
        grid-row: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }

    .nav-left > *:not(:first-child) {
        display: none;
    }
    
    .nav-right {
        display: none;
    }

    .nav-left {
        margin: 15px;
        width: 50%;
    }

    .menu {
        display: block;
    }

    .nav-menu {
        font-size: 20px;
        gap: 10px;
    }

    .navbar input {
        font-size: 14px;
        width: 50%;
    }

    .navbar input:focus {
        border-color: #dcb000;
    }

    .navbar input::placeholder {
        color: #888;
        font-weight: 400;
    }
    
    .nav-center .light-dark {
        display: none !important;
    }

    .current-weather {
        grid-column: 1/3;
        grid-row: 2/4;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .current-weather .weather-main-row {
        flex-direction: column;
        gap: 15px;
    }

    .weather-side {
        margin-left: 0;
    }

    .weather-temp {
        font-size: 36px;
    }

    .current-weather p {
        font-size: 14px; 
    }

    .current-weather .weather-header select {
        width: 100%;
    }

    .air-quality {
        grid-column: 1;
        grid-row: 4/5;
    }

    .wind {
        grid-column: 2;
        grid-row: 4/5;
    }

    .humidity {
        grid-column: 1;
        grid-row: 5/6;
    }

    .visibility {
        grid-column: 2;
        grid-row: 5/6;
    }

    .pressure-in {
        grid-column: 1;
        grid-row: 6/7;
    }

    .pressure {
        grid-column: 2;
        grid-row: 6/7;
    }

    .sun-moon {
        grid-column: 1/3;
        grid-row: 9/11;
    }

    .days {
        grid-column: 1/3;
        grid-row: 7/9;
    }

    .navbar-right {
        display: none;
    }

    .data {
        font-size: 20px;
    }

    .current-weather .weather-header select:focus {
        border-color: #dcb000;
    }
}